global_prefix = '#screen-shoot'

{global_prefix}
    position absolute
    display none
    z-index 100
    user-select none
    .function-box
        height 40px
        line-height 40px
        border-radius 5px
        background #b3b2b2
        padding 0 10px
        white-space nowrap
        font-size 0
        .box-item
            display inline-block
            width 20px
            height 20px
            border-radius 5px
            line-height 20px
            margin 0 10px
            vertical-align middle
            background red
            color white
            cursor pointer
            text-align center
            &.screen-shoot-rectangular
                background url('~ASSETS/rectangular.svg') no-repeat;
                background-size 100%
            &.screen-shoot-circle
                background url('~ASSETS/circle.svg') no-repeat;
                background-size 100%
            &.screen-shoot-arrow
                background url('~ASSETS/arrow.svg') no-repeat;
                background-size 100%
            &.screen-shoot-back
                background url('~ASSETS/back.svg') no-repeat;
                background-size 100%
            &.screen-shoot-save
                background url('~ASSETS/down.svg') no-repeat;
                background-size 100%
            &.screen-shoot-pen
                background url('~ASSETS/pen.svg') no-repeat;
                background-size 100%
            &.screen-shoot-text
                background url('~ASSETS/text.svg') no-repeat;
                background-size 100%
            &.active
                background-color beige

// {global_prefix}
.function-text
    position absolute
    background transparent
    resize none 
    border 1px solid white
    border-radius 1px
    font-size 35px
    line-height 1
    font-family microsoft yahei
    font-family Consolas
    font-family monospace
    outline none
    padding 10px
    overflow hidden
    z-index 10000
