global_prefix = '#screen-shoot'
opacity(n)
  opacity n
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

{global_prefix}
    position absolute
    display none
    z-index 100
    user-select none
    .function-box
    .function-box-child
        height 40px
        line-height 40px
        border-radius 5px
        background #b3b2b2
        padding 0 10px
        white-space nowrap
        font-size 0
    .function-box-wrap
        overflow hidden
    .function-box
        display inline-block
        float right
        .box-item
            display inline-block
            width 20px
            height 20px
            border-radius 5px
            line-height 20px
            margin 0 10px
            vertical-align middle
            color white
            cursor pointer
            text-align center
            .icon
                width 100%
                height 100%
            .upload
                width 100%
                height 200%
                position absolute
                top -100%
                left 0
                opacity 0
                cursor pointer
                z-index 100
            &.screen-shoot-rectangular
                .icon
                    background url('~ASSETS/rectangular.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-circle
                .icon
                    background url('~ASSETS/circle.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-arrow
                .icon
                    background url('~ASSETS/arrow.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-back
                .icon
                    background url('~ASSETS/back.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-save
                .icon
                    background url('~ASSETS/download.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-pen
                .icon
                    background url('~ASSETS/pen.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-text
                .icon
                    background url('~ASSETS/text.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-close
                .icon
                    background url('~ASSETS/close.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-mosaic
                .icon
                    background url('~ASSETS/mosaic.svg') no-repeat;
                    background-size 100%
            &.screen-shoot-image
                position relative
                overflow hidden
                .icon
                    background url('~ASSETS/image.svg') no-repeat;
                    background-size 100%
            &.active
                background-color beige
    .function-box-child
        margin-top 10px
        display none
        .colors
            .color-item
                display inline-block
                width 20px
                height 20px
                border-radius 2px
                vertical-align middle
                margin 0 5px
                cursor pointer
                box-sizing border-box
                &.active
                    border 1px solid #fff

// {global_prefix}
.function-text
    position absolute
    background transparent
    resize none 
    border 1px solid white
    border-radius 1px
    line-height 1
    font-family microsoft yahei
    outline none
    padding 10px
    overflow hidden
    z-index 10000
    // box-sizing border-box
    // word-break keep-all
    white-space pre-wrap
    word-break break-all
    // line-height 1.2