global_prefix = '#screen-shoot'

{global_prefix}
    position absolute
    display none
    z-index 100
    user-select none
    .function-box
        height 40px
        line-height 40px
        border-radius 5px
        background gray
        padding 0 10px
        white-space nowrap
        .box-item
            display inline-block
            width 20px
            height 20px
            border-radius 5px
            line-height 20px
            margin 0 10px
            vertical-align middle
            background red
            color white
            cursor pointer
            text-align center

// {global_prefix}
.function-text
    position absolute
    background transparent
    resize none 
    border 1px solid white
    border-radius 1px
    font-size 35px
    line-height 1
    font-family microsoft yahei
    font-family Consolas
    font-family monospace
    outline none
    padding 10px
    overflow hidden
    z-index 10000
